.CaixaPai {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 130px;
    border: 2.2px solid white;
    background-color: rgb(2, 189, 189);
    position: relative;
    overflow: hidden;
}

.ConjuntoNuvens {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    animation: moveClouds 4s linear infinite; /* Animação mais longa e contínua */
    
}

.nuvem, .nuvemDois {
    width: 35px;
    margin-right: 10px;
    animation: float 30s ease-in-out infinite; /* Animação de flutuação */
}

.nuvemDois {
    margin-top: 12px;
}



.Goku {
    width: 80px;
    position: absolute;
    top: 20px;
    left: -100px; /* Começa fora da tela à esquerda */
    z-index: 1;
    animation: flyGoku 5s linear infinite; /* Animação para o Goku voar */
}

.chao{
    overflow: hidden;
    margin-top: 30px;
    width: 100px;

}
.chaoQ{
    overflow: hidden;
    margin-top: 30px;
    margin-right: 300px;
    width: 100px;

}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-27%);
    }
}


/* Animação para flutuação das nuvens */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Animação para o Goku voar da esquerda para a direita */
@keyframes flyGoku {
    0% {
        transform: translateX(25);
    }
    100% {
        transform: translateX(110vw); /* Move Goku para fora da tela à direita */
    }
}
