.TextoUm{
    font-size: 40px;
    color: #F2622E;
    line-height: 1.0;
    
}
.zaca{
    font-size: 40px;
    color: #fff;
}
.TextoPequeno{
    color: #7f7f7fd1;
    margin-top: -20px;
    font-size: 10px;
    font-family: 'Roboto' ,sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Começa deslocado para baixo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Sobe para sua posição original */
    }
}

.TextoUm, .TextoPequeno {
    animation: fadeIn 1.5s ease-out; /* Aplica o efeito de fade-in e slide-up */
}


.TituloReadme{
    font-size: 2.5rem;
    margin-bottom: -36px;
    font-weight: 700;
    color: #fff;
}
.conteudo-readme {
    color: #161616;
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    overflow: hidden;
    max-height: 400px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    
}

.conteudo-readme ul {
    list-style-type: disc;
}

strong{
    color: black;
}
